.message-item {
    width: 45%, auto;
    margin: 8px;
    padding: 12px;
    word-break: break-word;
    text-align: center;
    color: white;
}

.my-message {
    background-color: rgb(22, 22, 22);
    box-shadow: 10px 0px 0px 0px rgba(228, 205, 0, 0.658);
    margin-left: auto;
}

.received-message {
    background-color: #181818;
    box-shadow: 10px 0px 0px 0px rgba(0, 206, 0, 0.658);
    margin-right: auto;
}

.messages-container {
    border-color: #9a9a9a;
    padding: 10px;
    box-shadow: inset 0px 5px 0px 5px rgba(0, 0, 0, 0.089);
    background: rgba(179, 179, 179, 0.24);
}
